accelerate==0.25.0
certifi==2023.7.22
charset-normalizer==2.1.1
diffusers==0.23.1
huggingface-hub==0.16.4
idna==3.4
jaxtyping==0.3.2
packaging==25.0
peft==0.6.2
psutil==7.0.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.28.1
safetensors==0.6.0rc0
tokenizers==0.15.2
tqdm==4.67.1
transformers==4.35.2
urllib3==1.26.13
